body{
    background-image: url('../src/assets/img/foodBackground.jpg');

    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Keeps it fixed when scrolling */
    background-repeat: no-repeat;
}